.mainContainer {
  padding: 2rem;
  width: 30%;
  margin: 5rem auto 0 auto;

  border-radius: 0.4rem;
  box-shadow: var(--box-shadow);
  background-color: #fff;

  @media (max-width: 1024px) {
    width: 60%;
  }

  @media (max-width: 768px) {
    width: 70%;
  }

  @media (max-width: 668px) {
    width: 80%;
  }

  .container__form {
    margin-top: 1rem;
    .form {
      .form__input {
        margin-top: 1rem;
        label {
          font-weight: bold;
        }

        input {
          margin-top: 0.5rem;
        }
      }

      .form__input__btn {
        display: flex;
        margin-top: 2rem;
        gap: 2rem;

        button {
          width: 100%;
          color: white;
          text-transform: capitalize;
          transition: all ease 0.4s;
        }

        .btn__close {
          color: black;
          border: 1px solid var(--color-border);
        }
        .btn__close:hover {
          color: white;
          background-color: var(--color-secondry);
        }

        .btn__submit {
          background-color: var(--color-secondry);
        }
      }
    }
  }
}
