.main__container {
  padding: 2rem;
  width: 30%;
  margin: 5rem auto 0 auto;
  border: 1px solid var(--color-border);
  border-radius: 0.4rem;
  box-shadow: var(--box-shadow);
  background-color: #fff;

  @media (max-width: 1024px) {
    width: 60%;
  }

  @media (max-width: 768px) {
    width: 70%;
  }

  @media (max-width: 668px) {
    width: 80%;
  }

  .container__info {
    margin-top: 1rem;
    color: var(--text-light-primary);
    font-size: 0.9rem;
  }

  .container__form {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    .form__input__label {
      font-size: 0.8rem;
      font-weight: bold;
      color: var(--text-black-primary);
    }
  }
}

.btn__design {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1rem;

  .go__back {
    text-align: center;
    font-size: 0.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--text-light-primary);
    cursor: pointer;
  }

  .form__sendEmailbtn {
    background-color: var(--color-secondry);
    color: #fff;
    display: block;
    letter-spacing: var(--letter-spacing);
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.2rem;
  }
}

.input__err {
  border: 2px solid var(--color-danger);
}

.form__err__msg {
  color: var(--color-danger);
  margin-top: 0.3rem;
  font-size: 0.8rem;
}

.otp__field {
  input {
    margin-top: 0.5rem;
  }
}

.email__field {
  label {
    position: relative;
    display: flex;
    margin-top: 0.5rem;

    .sendOtpbtn {
      position: absolute;
      right: 0;
      color: white;

      background-color: transparent;
      color: gray;
      display: flex;
      align-items: center;
      gap: 0.5rem;
      font-weight: 600;
      letter-spacing: var(--letter-spacing);
      transition: all ease 0.4s;

      .check__icon {
        color: var(--color-primary);
        font-size: 1.1rem;
      }
    }

    .sendOtpbtn:hover {
      color: var(--color-primary);
    }
  }
}

.otpSent__success__msg {
  font-size: 0.8rem;
  color: var(--color-primary);
  text-align: center;
  margin-top: 0.5rem;
}

.otpSent__error__msg {
  font-size: 0.8rem;
  color: var(--color-danger);
  text-align: center;
  margin-top: 0.5rem;
}
