.main__container {
  padding: 2rem;
  width: 30%;
  margin: 5rem auto 0 auto;
  border-radius: 0.4rem;
  box-shadow: var(--box-shadow);
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (max-width: 1024px) {
    width: 60%;
  }

  @media (max-width: 768px) {
    width: 70%;
  }

  @media (max-width: 668px) {
    width: 80%;
  }

  .image {
    width: 20rem;
    object-fit: contain;
  }

  .info {
    margin-top: 1rem;
    color: var(--text-light-primary);
    font-size: 1rem;
  }
  .goToLogin__page {
    margin-top: 2rem;
    background-image: var(--linear-gradient-bg);
    color: white;
  }
}
