@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

:root {
  --color-primary: #32bea6;
  --color-primary-2: #20c997;
  --color-secondry: #3e0e49;

  --color-background: #f0f2f5;
  --color-icon-background: #e4e6eb;

  --text-black-primary: #181e23;
  --text-light-primary: #65676b;
  --text-light-secondry: #4b4f56;
  --text-very-light: #8a8d91;

  --color-border: #cdced3;
  --color-link: #0096ff;
  --color-danger: #f92a82;

  --danger-bg-color: #f92a8433;

  --letter-spacing: 1px;

  --linear-gradient-bg: linear-gradient(
    to right top,
    #32bea6,
    #0097ad,
    #006da3,
    #1c4181,
    #3e0e49
  );

  --box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
    rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;

  --linear-gradient-left: linear-gradient(
    to right,
    #32bea6,
    #0097ad,
    #006da3,
    #1c4181,
    #3e0e49
  );
}

html,
body {
  color: var(--text-black-primary);
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

button {
  padding: 0.6rem;
  background-color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 0.4rem;
}

input {
  width: 100%;
  padding: 0.5rem 0.8rem;
  border-radius: 0.4rem;
  outline: none;
  border: 1.5px solid #d3d3d3;
  font-weight: 400;
}

input:focus {
  border: 2px solid var(--color-secondry);
}

.input__err-msg {
  color: var(--color-danger);
  font-size: 0.8rem;
  margin-top: 0.3rem;
}

.input__error-border {
  border: 2px solid var(--color-danger);
}
